.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
**/.next
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.venv
**/__pycache__
**/*.egg-info
**/*.log
**/coverage
**/node_modules
**/out
**/*.tsbuildinfo
.git
postgres-data
pgdata
